:root {
  --color-green: #4CB78C;
  --color-green-dark: #399f73;
  --color-gold: #E0B84D;
  --color-cream: #FAF6E8;
  --color-card-green: #DCF2E3;
  --color-card-lime: #ECF5D7;
  --color-card-orange: #FCEACB;
  --color-dark: #2B2B2E;
}